@charset "UTF-8";
/* CSS Document */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
	background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f0eef2' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
	



html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/**
 * Firefox specific rule
 */



}

@font-face {
  font-family: 'SofiaPro-Light';
  src: url('../disbala.github.io/sofia-reg.woff2')  format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SofiaPro-Bold';
    src: url('../disbala.github.io/sofiapro-bold-webfont.woff2') format('woff2'),
         url('../disbala.github.io/sofiapro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




li {
	float: left;
	list-style: none;
	padding-left: 0px;
	padding-right: 40px;
	justify-content: center;
	display: flex;
	justify-content: center;
    flex-direction: column;
	font-family: 'SofiaPro-Bold';
	-webkit-font-smoothing: antialiased;
	
}


.navi{
	height: 60px; 
	display: flex;
	justify-content: flex-start;
	padding: 0px;

}

nav < li{
	flex: 1;
}

header{
	height: 400px;
}



*{
	font-family: 'SofiaPro-Bold';
	z-index: 100;
	-webkit-font-smoothing: antialiased;
	
}


.logo{
	height: 30px;
	top:2px;
	opacity: 1;
	padding-right: 200%;
	-webkit-transition: opacity 0.4s; /* Safari */
	transition: opacity 0.4s;
}


.logo:hover{
	opacity: 1;
}

.title{
	
}

.work {
    position: relative;
	display: block;
    padding-bottom: 100%;
	background-color: blue;
	border-radius: 0px;
	outline: 13px solid white !important;
	
}
.work .content {
    position: absolute;
    width: 100%;
    height: 100%;
	border-radius: 20px;
	
	background-size: 100%;
}

.work .content2 {
    position: absolute;
    width: 100%;
    height: 100%;
	border: 0px solid white;
	background-image: url("images/2bit_thumbnail.png");
	background-size: 100%;
}


.work .content5 {
    position: absolute;
    width: 100%;
    height: 100%;
	border: 0px solid white;
	background-image: url("images/quick_thumbnail.png");
	background-size: 100%;
}

.work .content4 {
    position: absolute;
    width: 100%;
    height: 100%;
	border: 0px solid white;
	background-image: url("images/western_thumbnail.png");
	background-size: 100%;
}

.work .content6 {
    position: absolute;
    width: 100%;
    height: 100%;
	border: 0px solid white;
	background-image: url("images/misc_thumbnail.png");
	background-size: 100%;
}



.something{
	width : 100%;
	height : 100%;
	background-color:#3951DF;
	opacity : 0;
	-webkit-transition: opacity 0.4s; /* Safari */
	transition: opacity 0.4s;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	align-items: center;
	
}

.something:hover{
	opacity: 1;
	
}

h4{
	opacity: 0.6;
	-webkit-transition: opacity 0.4s; /* Safari */
	transition: opacity 0.4s;
	font-size: 16px;
	color: #3951DF;
	
}

h4:hover{
	opacity:1;
}


h44{
	opacity: 1;
	-webkit-transition: opacity 0.4s; /* Safari */
	transition: opacity 0.4s;
	font-size: 16px;
	color: #3951DF;
	
}



.title{
	
	opacity: 1;
	z-index: 10;
		
}

.title2{
	
	top: 20px;
	opacity: 1;
	z-index: 10;
		
}

h{
	font-family: 'Sofia Black', 'Roboto';
}


h2{
	font-size: 32px;
	color: white !important;
	line-height: 0px;
}

p{
	color:lightgray;
	line-height: 6px;
}

p2{
	color:lightgray;
	line-height: 6px;
	
}

h5{
	font-size: 26px;
	color: white !important;
	line-height: 0px;
}




footer{
	font-family: 'SofiaPro-Light', 'Roboto';
	text-align: center;
	font-size: 12px;
	color: #797979;
	margin-left: auto;
	margin-right: auto;
}


.hero{
	width: 100%;
height: 67%;
min-width: 100%;
min-height: 67%;
	background-size: cover;
	background-image: url("images/main4.jpg");
position: relative;
}


.hero2{
	width: 100%;
height: 67%;
min-width: 100%;
min-height: 67%;
	background-size: cover;
	background-image: url("images/main5.jpg");
position: relative;
}


h1{
	font-family: 'SofiaPro-Bold', 'Roboto';
	font-size: 62px;
	line-height: 55px;
}

h7{
	font-family: 'SofiaPro-Light', 'Roboto';
	font-size: 14px;
	color: #313131;
	line-height: 0px;
}

h8{
	font-family: 'SofiaPro-Light', 'Roboto';
	font-size: 18px;
	color: #555555;
	line-height: 0px;
	line-height: 1.8;
}

h9{
	font-family: 'SofiaPro-Bold', 'Roboto';
	font-size: 18px;
	line-height: 0px;
	letter-spacing: 0.1em;
}

h10{
	font-family: 'SofiaPro-Bold', 'Roboto';
	text-align: center;
	font-size: 50px;
	line-height: 45px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

a{
text-decoration:none;
}

#myIframe
{
    position: relative;
    height: 100%;
    width: 100%; 
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.pdf{
	height: 400px;
}

.process1{
	width: 100%;
}

.process2{
	width: 80%;
	padding-left:10%
	
}

.mail{
	width: 60%;
	margin-left: 20%;
	
}


.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.4s; /* Safari */
	transition: opacity 0.4s;
}


.image2:hover{
	opacity: 1;
}


button {
background-color: blue; /* Green */
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
width: 100%;
height: 100%;
font-size: 14px;
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border-radius: 2px;

}

button:hover{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: blue;
	cursor:pointer;
}

.centre {
  width: 200px;
  height: 50px;
  display: block;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
}

.centre2 {
  width: 200px;
  height: 50px;
  display: block;
  background-color: #FFF;
  
}

.wave{
	font-size: 24px;
}

div.about1-container{
	display: flex;
    flex-direction: row;
    
}

.navig{
	padding-left: 0px;
}

@media only screen and (max-width: 40em) {
	div.about1-container{
    flex-direction: column;
	}
	img.profile-img{
		padding-bottom:40px;
	}
	
}

@media only screen and (max-width: 58em) {
	.navig{
		padding-left: 0% !important;
	}
}



img.profile-img{
	width: 180px;
	
	padding-right: 37px;
}


h20{
	font-family: 'SofiaPro-Light', 'Roboto';
	font-size: 14px;
}

h21{
	font-family: 'SofiaPro-Bold', 'Roboto';
	font-size: 52px;
	line-height: 40px;
}


h31{
	font-family: 'SofiaPro-Bold', 'Roboto';
	font-size: 28px;
	
}

h32{
	font-family: 'SofiaPro-Light', 'Roboto';
	font-size: 19px;
}

h33{
	font-family: 'SofiaPro-Light', 'Roboto';
	font-size: 19px;
	font-color: #3951DF !important;
	color: #3951DF !important;
}

.start{
	width: 67%;
    
}






.break{
	width: 170px;
	color: #3951DF;
	height: 6px;
	border-radius: 50px;
	background-color: #3951DF;
	margin-top: 16px;
	margin-bottom: 16px;
	
}

span.wave {
  animation-name: wave-animation;    /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;          /* Change to speed up or slow down */
  animation-iteration-count: infinite;    /* Never stop waving :) */
  transform-origin: 70% 70%;         /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
  100% { transform: rotate(  0.0deg) }
}

.links{
	justify-content: flex-end;
}






.shapes{
	z-index: -1 !important;
	opacity: .9;
}




.shapes .sqare { 
  position: absolute; 
  top: 100px;
  left: 500px;
  width: 30px; 
  height: 30px; 
  background-color: transparent; 
  border: 10px solid #D1DAFF;
  transition: border-color .4s ease; 
  -webkit-transition: border-color .4s ease; 
	z-index: -100;
}

.shapes .circle { 
  position: absolute; 
  top: 300px;
  left: 200px;
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  background-color: transparent; 
  border: 10px solid #D1DAFF;
  transition: border-color .4s ease; 
  -webkit-transition: border-color .4s ease; 
  z-index: -100;
}

.shapes .triangle {
  position: absolute; 
  width: 60px; 
  height: 60px; 
  top: 150px; 
  left: 1000px; 
	z-index: -100;
}

.float {
	z-index: -100;
  -webkit-animation-name: Floating;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floating{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 50px);}
    to {-webkit-transform: translate(0, -0px);    }    
}

.spin {
  -webkit-animation-name: Spinning;
    -webkit-animation-duration: 12s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Spinning{
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  } 
}



.navbar{
	background: white;
	display: flex;
	flex-direction: row;
	height: 80px;
}



.navbar .link{
	display: flex;
    text-align: right;
    text-decoration: none;
    color: white;
	flex: 1;
	justify-content: flex-end;
	padding-left: 40px;
	margin-top:auto;
	margin-bottom:auto;
}

.navbar .logoimg{
	display: flex;
    text-align: left;
    text-decoration: none;
    color: white;
	flex: 9;
	justify-content: flex-start;
	
}


.logosrc{
	height: 32px;
	margin-top:auto;
	margin-bottom:auto;
	
}

@media only screen and (max-width: 40em) {
	.disappear{
		display:none !important;
	}
		
}


@media only screen and (max-width: 40em) {
	.start{
		width: 80%;
	}
	
}

@media only screen and (max-width: 50em) {
	.hero2{
		background-position: right -0px top;
	}
	.hero{
		background-position: right -100px top;
	}
}


@media only screen and (max-width: 38em) {
	header{
		height: 500px;
	}
}


.bottomnavbar{
	background: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 80px;
	
}

.bottomnavbar .link2{
	display: flex;
    text-align: left;
	margin: auto;
    text-decoration: none;
    color: white;
	flex: 3;
	padding: 20px;
	justify-content: left;
	
	
	
}


h41{
	opacity: 0.6;
	-webkit-transition: opacity 0.4s; /* Safari */
	transition: opacity 0.4s;
	font-size: 24px;
	color: #3951DF;
	
}

h41:hover{
	opacity:1;
}


